* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body  {
    margin: 0px;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    transform-style: preserve-3d;
    background: url("../images/BG4.png");
    width: 100%; 
    height: 100%;
    background-size: cover;
    background-repeat: repeat; 
    /* background-position: top; */
  }
  
  /* plain navigation buttons */
  
  .navButtons {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #666;
    border-bottom: 3px #17a2b8 solid;
    opacity: .8;
  } 
  
  img {
    width: 100%;
    height: auto;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .contentLayer1 {
    padding-top: 60px;
  }
  
  .navButtons a {
    float: right;
    display: block;
    margin-right: 25px;
    padding-right: 15px;
    margin-top: 18px;
  }

  .navButtons a.hover {
    opacity: .8;
  }
  
  /* Hide hamburger link  */
  .navButtons .icon {
    display: none;
  }

  
  
  /* set up for background and to set up parallax */
  main {
    display: block;
    overflow-x: hidden;
    height: 100vh;
    max-height: 100%;
    perspective: 1px;
    perspective-origin: center top;
  }
  
  #prlxLyr1 {
    height: 42vh;  
    transform-origin: left top;
    transform: translateZ(-1px) scale(2.03);
    background: url("../images/prlxCircle1.png") fixed no-repeat;
  }
  #prlxLyr2 {
    height: 50vh;  
    background: url("../images/pilates.png") fixed no-repeat 400px 400px;
  }
  
  #prlxLyr3 {
    height: 25vh;  
    transform-origin: left top;
    transform: translateZ(-1px) scale(2.03);
    background: url("../images/prlxCircle1.png") fixed no-repeat;
  }
  #prlxLyr4 {
    height: 25vh;  
    background: url("../images/pilates.png") fixed no-repeat 400px 400px;
  }
  
  /* homepage short descript */
  .contentLayer1 {
    width: 65%;
    margin: 10% 25% 2% 18%;
    position: absolute;
    transform: translateZ(0);
    background: #f18344;
    opacity: .9;
    color: #233490;
    text-decoration: none;
  }

  .contentLayer1 img {
      float: left;
      margin-left: 20px;
      margin-right: 30px;
      margin-top: 15px;
      border-radius: 4px;
      width: 100px;
  } 

   h1, h2 {
    margin-left: 40px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 120px;
   }

  .contentLayer1 p {
    margin: 20px;
    font-weight: 700;
  } 

  #contentLayer2 {
    width: 100%;
    margin: 20.5% 0% 2% 0%;
    padding: 20px 0 20px 15px;
    position: absolute;
    background: #f18344;
    /* opacity: .9; */
    color: #233490;
  }
  #contentLayer2 p{
    margin-left: 20%;
    padding-left: 20px; 
  }
  
  /* ================projects page========================================= */

    .box {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content:center;
      align-items: center;
      min-height: 100vh;
      background: #212121;
      font-family: sans-serif;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 15px;
      margin: 0 auto;
      border-top: 40px solid  #f18344;
      border-bottom: 15px solid  #f18344;
      color: #233490;
    }

    .card {
      position: relative;
      width: 300px;
      height: 350px;
      background: #fff;
      margin: 0 auto;
      border-radius: 4px;
      box-shadow:0 2px 10px rgba(0,0,0,.2);
    }
    .cardBack {
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
   }
    .card:before,
    .card:after
    {
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: #fff;
      transition: 0.5s;
      z-index:-1;
    }
    .card:hover:before {
    /* transform: rotate(20deg); */
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .card:hover:after {
    /* transform: rotate(10deg); */
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 3px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
    }
    
    .card:hover .imgBx {
      bottom: 80px;
    }
  
    .card .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .card .details {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 9px;
        height: 60px;
        text-align: center;
    }
  
    .card .details h2 {
     margin: 0;
     padding: 0;
     font-weight: 600;
     font-size: 18px;
     color: #777;
     text-transform: uppercase;
    } 
  
    .card .details h2 span{
    font-weight: 500;
    font-size: 15px;
    color: #f38695;
    display: block;
    margin-top: 2px;
     } 
  
    #toggle-btn {
    font-size: 9px;
    background-color: #f38695;
    border: .5px;
    text-decoration: none;
     }
  
  /*=====================contact form====================================== */
  <!--Contact form-->
  
  .contactMe {
    width: auto;
    text-decoration: none;
  }
    
  .call2Action {
    margin: 0% 25% 1% 25%;
    padding-left: 13%;
    background-color: #f18344;
    font-weight: bold;
    font-size: medium;
    color: #233490;
  }

  #nameInput, #emailInput {
    padding: 0 40%;
  }

  #messageArea{
    padding-right: 375px;
  }

  #submit {
    padding-bottom: 15px;
  }
  #submit_button {
    padding: 10px 30px;
    background-color: #17a2b8;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
  }

  #submit_button:hover {
    background-color: #f6e7c5;
    color: #777;
    padding: 11px 31px; 
    transition: background-color 0.8s ease;
  }

  /* ====================footer============================================ */
  
  footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #666;
    border-top: 3px #17a2b8 solid;
    left: 0px;
    opacity: .8;
  }   
  
  footer p {
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin-top: 1%;
  }

  /* ===============Responsive design-responsive css========================================= */

  @media screen and (max-width: 1300px) {
    h1 { 
      font-size: 1.75rem;
    }
  
    h2 {
      margin-top: 20px;
    }
    .contentLayer1 {
      margin: 100px 100px 25px 150px;
      padding-bottom: 30px;
      width: 75%;
    }
  }
  /*---------------------------------------------*/
  @media (max-width: 980px) {
  
    body  {
      width: 50%;
    }
    
    h1 {
      font-size: 1.5rem;
      margin:15px;
      padding-bottom: 0px; 
      color:#233490;
    }
    
    h2 {
      font-size: 1.25rem;
    }
    
    p {
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      color: #233490;
      padding-top: 0px;
      font-size: 16px;
    }
    
    .contentLayer1 {
      width:175%;
      margin: 15px 56px;
      opacity: .9;
    }
  
    ul.navBtns {
      list-style-type: none;
      margin-right: 7%;
      padding-right: 40px;
    }
  /*---------------------------------------------*/
    @media (max-width: 880px) {
  
      body  {
        width: 50%;
      }
      
      h1 {
        font-size: 1.5rem;
        margin:15px;
        padding-bottom: 0px; 
        color: rgb(12, 2, 2);
      }
      
      h2 {
        font-size: 1.25rem;
      }
      
      p {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #233490;
        padding-top: 0px;
        font-size: 16px;
      }
      
      .contentLayer1 {
        width:175%;
        margin: 56px 56px;
        opacity: .9;
      }
  /*---------------------------------------------*/
  @media (min-width: 320px) {
    .box {
      width: 100%;
    }

    #navBar {
      height: 50px;
    }   

    img {
      float: left;
      margin: -10px;
      padding: -10px;
    }
    
    .contentLayer1 h2 {
      font-size: 20px;
      margin-left: 75px;
      padding-bottom: -10px; 
    }
    
    p {
      color: #233490;
      padding-top: 0px;
      font-size: 14px;
      font-weight: 300;
    }
    
    .contentLayer1 {
      margin: auto auto;
      opacity: .9;
    }

    #contentLayer2 {
      margin: 60% 1% 0 1%;
      position: absolute;
      opacity: .9;
    }

    #contentLayer2 h2 {
      font-size: 20px;
      margin-left: -50%;
      padding-bottom: -10px; 
    }

    #contentLayer2 p {
      font-size: 14px;
      margin-left: 0%;
      margin-bottom: 0;
      padding-bottom: -10px; 
    }
    
    .box {
      margin: 1% auto;
      border-top: 40px solid  #f18344;
      border-bottom: 15px solid  #f18344;
      color: #233490;
    }
    
    /* -----contact form--- */
    /* .contactMe {
      width: 100%;
    }

    /* .call2Action {
      max-width: 180%;
    }   */
    /*.call2Action h2 {
      text-align: left;
    }

    .call2Action p {
      font-size: 14px;
      padding: 20px 15px 25px 5px;
    } 

     .form-group {
      padding: 10px 15px 10px 5px;
    }
     */
    /* #nameInput, #emailInput {
      margin: 5px;
      padding-right: 115px;
    }

    #messageArea{
      padding-right: 130px;
    } 

    #submit_button {
      margin: 10px 0 10px 20px;
      padding: 10px 30px;
    } */

    /* reg size */
  
    /* #nameInput, #emailInput {
      padding: 0 40%;
    }
  
    #messageArea{
      padding-right: 375px;
    }
  
    #submit {
      padding-bottom: 15px;
    }
    #submit_button {
      padding: 10px 30px;
      background-color: #17a2b8;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      letter-spacing: 1px;
    }
  
    #submit_button:hover {
      background-color: #f6e7c5;
      color: #777;
      padding: 11px 31px; 
      transition: background-color 0.8s ease;
    } */
    /* end reg size */
    /* ----footer--- */
    footer {
      width: 100%;
    }
    
    footer p {
      padding-right: 10%;
    }
